.section {
  width: 100%;
  height: 100%;
  transition: transform 1s ease 0s;
  position: relative;
  overflow: hidden;
}

.box {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
}