/*nav bar*/
.navBar {
  width: 100%;
  height: 95px;
  border-bottom: 1px solid #c4b4ad;
  top: 0;
  position: fixed;
  z-index: 999;
  background: rgba(255, 255, 255, 0.8);
  transition: all 300ms ease;
}

.navBar .btn {
  width: 130px;
  height: 95px;
  border-right: 1px solid #c4b4ad;
  display: inline-block;
  cursor: pointer;
}

.navBar .btn p {
  line-height: 95px;
  text-align: center;
  font-size: 18px;
}

.inner {
  height: 95px;
  position: relative;
}

.fur {
  left: 264px;
  border-bottom: 5px solid #149143;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  display: none;
}

.navBar .option .type {
  width: 140px;
  height: 160px;
  padding: 20px 0;
  display: inline-block;
  text-align: center;
}

.navBar .option .type:hover {
  background: rgba(220, 220, 220, 0.6);
}

.option .type img {
  width: 110px;
  height: 100px;
}

.navBar .brand {
  left: 400px;
  border-bottom: 5px solid #149143;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  display: none;
}

.navBar .brand p {
  width: 170px;
  line-height: 50px;
  padding: 10px 50px;
}

.navBar .brand p:hover {
  background: rgba(220, 220, 220, 0.6);
}

.navBar .about {
  left: 534px;
  border-bottom: 5px solid #149143;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  display: none;
}

.navBar .about p {
  width: 170px;
  line-height: 50px;
  padding: 10px 50px;
}

.about p:hover {
  background: rgba(220, 220, 220, 0.6);
}

.navBar .right {
  float: right;
  border-left: 1px solid #c4b4ad;
  border-right: 0;
}

.navBar .logo {
  width: 80px;
  position: relative;
}

.navBar .logo img {
  width: 50px;
  height: 50px;
  top: 23px;
  left: 15px;
  position: absolute;
}

.navBar .tri {
  position: relative;
  margin-right: 15px;
}

.navBar .tri:before {
  content: "";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #222222;
  vertical-align: bottom;
  position: absolute;
  top: 46px;
  left: 50px;
  z-index: 999;
}

.navBar .language {
  border-bottom: 5px solid #149143;
  display: none;
}

.navBar .language p {
  line-height: 50px;
  background:  rgba(255, 255, 255, 0.8);
}

.navBar .language p:hover {
  background:  rgba(220, 220, 220, 0.8);
}

.navBar .lang:hover .language {
  display: block;
}

.navBar #aboutHover:hover #about {
  display: block;
}

.navBar #brandHover:hover #brand {
  display: block;
}

.navBar #furHover:hover #fur {
  display: block;
}

/*figures*/
.figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 0;
  position: relative;
}

.figure .container {
  width: 700%;
  transition: all 1000ms ease;
}

.figure img {
  width: 14.285714%;
  display: inline-block;
}

.figure .arr {
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 50%;
  top: 50%;
  right: 30px;
  margin-top: -15px;
  position: absolute;
  cursor: pointer;
  z-index: 998;
}

.figure .arr:hover {
  background: rgba(20, 20, 20, 0.6);
}

.figure .left {
  left: 30px;
}

.figure .right {
  right: 30px;
}

.figure .orders {
  bottom: 5%;
  left: 50%;
  margin-left: -60px;
  position: absolute;
  z-index: 998;
}

.figure .order {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  display: inline-block;
  border-radius: 50%;
  background: white;
}

/*footer*/
.footer {
  width: 100%;
  height: 60px;
  text-align: center;
  background: #222222;
  position: relative;
}

.footer span {
  line-height: 60px;
  font-size: 12px;
  color: #dddddd;
  cursor: pointer;
}

.footer a {
  color: #dddddd;
}

.divider {
  width: 1px;
  height: 20px;
  margin: 1px 20px;
  background: white;
  display: inline-block;
  vertical-align: middle;
}

.footer img {
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
}

/*other rooms' detail*/
.main {
  font-size: 0;
  margin-top: 96px;
}

.main .title {
  width: 25%;
  height: 450px;
  display: inline-block;
  background: #eeeeee;
  font-size: 20px;
  font-weight: bold;
  line-height: 450px;
  text-align: center;
  vertical-align: top;
  color: #149143;
}

.main .figure {
  width: 75%;
  display: inline-block;
  max-width: 75%;
  position: relative;
}

.main .figure .container {
  width: 700%;
  transition: all 1000ms ease;
}

.main .figure .container img {
  width: 14.285714%;
  display: inline-block;
}

/*contact*/
.contact {
  width: 100%;
  height: 500px;
  padding-top: 150px;
  background: url("../images/dullWhite.png") repeat;
}

.contact .box {
  width: 40%;
  margin: auto;
  padding: 20px;
  display: inline-block;
  cursor: pointer;
}

.contact .box:hover {
  box-shadow: 0 0 10px #cccccc;
}

.contact .box:hover img {
  width: 60px;
  height: 60px;
  transition: all 200ms ease;
}

.contact .boxes {
  width: 70%;
  margin-left: 20%;
}

.contact .son {
  height: 50px;
  margin: 10px;
  line-height: 25px;
  display: inline-block;
  vertical-align: middle;
}

/*text*/
.text {
  max-width: 960px;
  margin: 120px auto;
  min-height: 500px;
}
.text h1 {
  color: #149143;
  margin: 30px 0;
}

.text h1 .divider {
  width: 3px;
  height: 30px;
  background: #222222;
}

.text h1 span {
  color: #222222;
}

.text h3 {
  margin: 10px 0;
}

.text h2 {
  color: white;
  background: #149143;
  margin: 20px 0;
  font-size: 24px;
}

.text img {
  display: block;
  width: 80%;
  max-width: 280px;
  margin: 20px auto;
}

.text .title {
  color: black;
  text-align: center;
}

.text .article {
  text-indent: 2em;
  font-size: 18px;
}

.text .divide {
  height: 1px;
  width: 100%;
  background: #149143;
  margin: 40px 0;
}